<!doctype html>
<html lang="en">
  <head>
  	<title>ITSec Learning</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

	<!-- AOS - Animated on Scroll CSS -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
	
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet"> <!-- font -->

    <link rel="stylesheet" href="solid/dist/css/style.css"> <!-- static CSS -->

	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>

    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'> <!-- font -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- font -->

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> <!-- font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> <!-- font -->

    <!-- favicon -->
    <link rel="icon" href="../navbar/images/hacker.png">

	<link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
	
	<link rel="stylesheet" href="navbar/css/style.css">

	<link rel="stylesheet" href="navbar/css/bootstrap4-neon-glow.css">

	</head>
	<body>
		
		<br>
		<div class="container" id="itsec">
			<div class="row justify-content-center">
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
		    <div class="container">
		    	<a class="navbar-brand" href="/">ITSec Platform</a>
		    	<div class="social-media order-lg-last">
		    		<p class="mb-0 d-flex">
		    			<a href="https://www.facebook.com/khoi.vo.104/" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="fa fa-bars"></span> Menu
		      </button>
		      <div class="collapse navbar-collapse" id="ftco-nav">
		        <ul class="navbar-nav ml-auto mr-md-3">
		        	<li class="nav-item active"><a href="welcome" class="nav-link">Home</a></li>
		        	<li class="nav-item"><a href="#about-me" class="nav-link">About</a></li>
		        	<li class="nav-item"><a href="#" class="nav-link">Work</a></li>
		        	<li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
		          <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
		        </ul>
		      </div>
		    </div>
		  </nav>
    <!-- END nav -->
  </div>

<br><br><br><br><br>
<div class="header">
	<h1 class="display-2" style="text-align:center; color:white;" data-aos="fade-in">Web Security Academ<span class="vim-caret">y</span></h1>
</div>
<br>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<section class="features section">
    <div class="container">
        <div class="features-inner section-inner has-bottom-divider">
            <div class="features-wrap">
                <div class="feature text-center is-revealing" data-aos="fade-in">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <a href="academy/sql-injection"><img src="solid/dist/images/feature-icon-01.svg" alt="Feature 01"></a>
                        </div>
                        <h4 class="feature-title mt-24" style="color: white;">SQL Injection</h4>
                        <p class="text-sm mb-0">My website aims for you - who are new to Cyber Securit and really want to deep into this field.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing" data-aos="fade-in">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <a href="academy/command-injection"><img src="solid/dist/images/feature-icon-02.svg" alt="Feature 02"></a>
                        </div>
                        <h4 class="feature-title mt-24" style="color: white;">Command Injection</h4>
                        <p class="text-sm mb-0">I will introduce you to some basic - medium common vulnerabilities / security flaws on nowaday websites.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing" data-aos="fade-in">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <a href="academy/file-upload-vulnerabilities"><img src="solid/dist/images/feature-icon-03.svg" alt="Feature 03"></a>
                        </div>
                        <h4 class="feature-title mt-24" style="color: white;">File Upload Vulnerabilities</h4>
                        <p class="text-sm mb-0">You will be introduced many labs / challenges after each modules you learned.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing" data-aos="fade-in">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <a href="academy/broken-authentication"><img src="solid/dist/images/feature-icon-04.svg" alt="Feature 04"></a>
                        </div>
                        <h4 class="feature-title mt-24" style="color: white;">Broken Authentication</h4>
                        <p class="text-sm mb-0">Let's see if you can complete my path? Or just come here for a few days and then left without any knowledge?</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing" data-aos="fade-in">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <a href="academy/cross-site-scripting"><img src="solid/dist/images/feature-icon-05.svg" alt="Feature 05"></a>
                        </div>
                        <h4 class="feature-title mt-24" style="color: white;">Cross - Site Scripting</h4>
                        <p class="text-sm mb-0">I will use PHP as the main programming language in labs / challenges.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing" data-aos="fade-in">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <a href="academy/broken-access-control"><img src="solid/dist/images/feature-icon-06.svg" alt="Feature 06"></a>
                        </div>
                        <h4 class="feature-title mt-24" style="color: white;">Broken Access Control (IDOR)</h4>
                        <p class="text-sm mb-0">Last but not least, be happy and have fun when getting around my websites, I have let something intresting here 🤗</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing" data-aos="fade-in">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <a href="academy/path-traversal"><img src="solid/dist/images/feature-icon-05.svg" alt="Feature 08"></a>
                        </div>
                        <h4 class="feature-title mt-24" style="color: white;">Path Traversal</h4>
                        <p class="text-sm mb-0">I will use PHP as the main programming language in labs / challenges.</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing" data-aos="fade-in">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <a href="academy/information-disclosure"><img src="solid/dist/images/feature-icon-04.svg" alt="Feature 04"></a>
                        </div>
                        <h4 class="feature-title mt-24" style="color: white;">Information Disclosure</h4>
                        <p class="text-sm mb-0">Let's see if you can complete my path? Or just come here for a few days and then left without any knowledge?</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing" data-aos="fade-in">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <a href="academy/server-side-request-forgery"><img src="solid/dist/images/feature-icon-04.svg" alt="Feature 04"></a>
                        </div>
                        <h4 class="feature-title mt-24" style="color: white;">Server - Side Request Forgery (SSRF)</h4>
                        <p class="text-sm mb-0">Let's see if you can complete my path? Or just come here for a few days and then left without any knowledge?</p>
                    </div>
                </div>
                <div class="feature text-center is-revealing" data-aos="fade-in">
                    <div class="feature-inner">
                        <div class="feature-icon">
                            <a href="academy/advanced-challenges"><img src="solid/dist/images/feature-icon-04.svg" alt="Feature 04"></a>
                        </div>
                        <h4 class="feature-title mt-24" style="color: white;">Advanced Challenges</h4>
                        <p class="text-sm mb-0">Let's see if you can complete my path? Or just come here for a few days and then left without any knowledge?</p>
                    </div>
                </div>
            </div>
                <div class="wrapper">
	                <div class="divider div-transparent div-arrow-down"></div>
                </div>
        </div>
    </div>
</section>

<style>
	.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

html {
  scroll-behavior: smooth;
}
</style>

<div class="footer-basic" data-aos="fade-in">
	<footer>
		<div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/khoi.vo.104/"><i class="icon ion-social-facebook"></i></a></div>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="#itsec">Home</a></li>
			<li class="list-inline-item"><a href="academy">Academy</a></li>
			<li class="list-inline-item"><a href="#about-me">About</a></li>
			<li class="list-inline-item"><a href="#">Terms</a></li>
			<li class="list-inline-item"><a href="#">Privacy Policy</a></li>
		</ul>
		<p class="copyright">MinKhoy © 2022</p>
	</footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  <script src="navbar/js/jquery.min.js"></script>
  <script src="navbar/js/popper.js"></script>
  <script src="navbar/js/bootstrap.min.js"></script>
  <script src="navbar/js/main.js"></script>
  <!-- AOS - Animated on Scroll JavaScript -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
	AOS.init();
  </script>

	</body>
</html>

