<!doctype html>
<html lang="en">
  <head>
  	<title>ITSec Learning</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

	<!-- AOS - Animated on Scroll CSS -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
	
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet"> <!-- font -->

    <link rel="stylesheet" href="../solid/dist/css/style.css"> <!-- static CSS -->

	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>

    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'> <!-- font -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- font -->

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> <!-- font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> <!-- font -->

    <!-- favicon -->
    <link rel="icon" href="../navbar/images/hacker.png">

	<link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
	
	<link rel="stylesheet" href="../navbar/css/style.css">

	<link rel="stylesheet" href="../navbar/css/bootstrap4-neon-glow.css">

	</head>
	<body>
		
		<br>
		<div class="container" id="itsec">
			<div class="row justify-content-center">
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
				<div class="container">
					<a class="navbar-brand" href="/">ITSec Platform</a>
					<div class="social-media order-lg-last">
						<p class="mb-0 d-flex">
							<a href="https://www.facebook.com/khoi.vo.104/" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
							<a href="https://www.instagram.com/khoi.meo.meo/" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
						</p>
				</div>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span> Menu
				  </button>
				  <div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav ml-auto mr-md-3">
						<li class="nav-item active"><a href="../welcome" class="nav-link">Home</a></li>
						<li class="nav-item"><a href="../welcome#about-me" class="nav-link">About</a></li>
						<li class="nav-item"><a href="../welcome#about-me" class="nav-link">Work</a></li>
						<li class="nav-item"><a href="https://skillful-overcoat-6dd.notion.site/MinKhoy-48e8a156f7294063a5d377ed63531bfd" class="nav-link">Blog</a></li>
					  <li class="nav-item"><a href="../welcome#about-me" class="nav-link">Contact</a></li>
					</ul>
				  </div>
				</div>
			  </nav>
    <!-- END nav -->
  </div>

<br><br><br><br><br>
<div class="header">
	<h1 class="display-2" style="text-align:center; color:white;" data-aos="fade-in">Command Injectio<span class="vim-caret">n</span></h1><br>
    <p style="text-align:center; color:white;" data-aos="fade-in">A really basic but very dangerous vulnerability in Injection Security Flaws</p>
</div>
<br>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 bootstrap snippets">
            <div class="ht-tm-componentsblock">
                <h2 style="color:white;"><b>Requirement</b></h2><br>
                <p> In order to get the best experience learning this Vulnerability, you should have basic knowledge in 
                    <b>OS Command in Linux</b> and <b>Linux Operating System</b>, along with the <b>Command Line interface of Linux</b><br>

					<br>
                    <img src="../navbar/images/Linux-Logo.jpg" style="display:block;margin-left: auto;margin-right: auto;width:70%;height:70%">
                    <br>
					
				<b>For more information: <a href="https://tldp.org/LDP/GNU-Linux-Tools-Summary/html/GNU-Linux-Tools-Summary.html">TLDP Linux Documentation</a></b><br><br>
                If you have learned this vulnerability before, why not going to solve my <a href="http://localhost:8000/">challenges here</a>?
                </p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 bootstrap snippets">
            <div class="ht-tm-componentsblock">
                <h2 style="color:white;"><b>First of all.. Injection again?</b></h2><br>
                <p> I will again tell you this example: As you known, Injection is to input something into an object. 
                    In the Covid-19 pandemic, we all have to injected vaccine in order to prevent / mitigate the 
                    consequence of the Corona Virus. That is injection, a way to provide some instruction for an object to do 
                    something. For the above example, the instruction is the vaccine, that is to tell the body how to deal with the 
                    Corona Virus.

					<br>
                    <img src="../navbar/images/injection.png" style="display:block;margin-left: auto;margin-right: auto;width: 20%;height: 20%;">
                    <br>

                    Back to our module, let's me introduce you how to basically call a OS Command in PHP:
					<br><br>
                    <code style="display:block;margin-left: auto;margin-right: auto;text-align:center;font-size:larger;">&lt;?php system("id"); ?&gt;</code>
                    <br>
                    This is just a very basic OS command, the <b>system()</b> function in php would run a OS command, which will then execute the "id" command and return the group, user group, etc. of the our current user, right? 
                    <br>
                    Let's get to something more complicated, in order to check a domain to see if it is alive or not, we often use <b>ping</b> command with the host domain, here is an example:
                    <br><br>
                    <code style="display:block;margin-left: auto;margin-right: auto;text-align:center;font-size:larger;">&lt;?php system("ping google.com"); ?&gt;</code>
                    <br>
                    Now, let's move back to our PHP programming language: how a beginner-level PHP programmer would code this OS command function?
                    <br><br>
                    <code style="display:block;margin-left: auto;margin-right: auto;text-align:center;font-size:larger;">&lt;?php system("ping <span style="color: yellow;">$user_input</span>"); ?&gt;</code>
                    <br>
                    Here, some explanation for the syntax:
                    <ul style="list-type-style:circle;">
                        <li><b>&lt;?php  ?&gt;</b>: is used to mark the PHP code would execute</li>
                        <li><b>system()</b>: a PHP OS Command function call</li>
                        <li><b>ping</b>: A OS Command which continuosly send ICMP packet to the host destination</li>
                    </ul>
                    Here is just the basic syntax of how to code a OS Command function in PHP, which will allow users to perform the "ping" action.
                    <br>
                    Now let's move to the next section.
                    <br>
				</p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 bootstrap snippets">
            <div class="ht-tm-componentsblock">
                <h2 style="color:white;"><b>First look at Command Injection (also known as Shell Injection)</b></h2><br>
                <p> OS Command Injection is one of the most easiest hacking to learn, but have the highest dangerous security level 
                    As I said before, Injection is to input something into an object.
                    <br>
                    In this case, the object is <b>OS Command</b>, so if an attacker try to input some instruction into the command which is being executed?
                    <br>
                    Let's get back to the above example, in this case, the <b>$user_input</b> would be the <b>Untrusted Data</b> which is being controlled by users

					<br><br>
                    <img src="../navbar/images/hacker.png" style="display:flex;margin-left: auto;margin-right: auto;width: 20%;height: 20%;float:left;"><img src="../navbar/images/command.png" style="display:flex;margin-left: auto;margin-right: auto;width: 20%;height: 20%;">
                    <br>

                    Let's take a look again at the ping function:
					<br><br>
                    <code style="display:block;margin-left: auto;margin-right: auto;text-align:center;font-size:larger;">&lt;?php system("ping -c3 <span style="color: yellow;">$user_input</span>"); ?&gt;</code>
                    <br>
                    Now, if the attacker input the value: <code style="color: red;">google.com; id</code>
                    <br>
                    The command now becomes:
                    <br><br>
                    <code style="display:block;margin-left: auto;margin-right: auto;text-align:center;font-size:larger;">&lt;?php system("ping -c3 <span style="color: red;">google.com; id</span>"); ?&gt;</b></code>
                    <br>
                    The PHP / OS which execute the command have no clue to distinguish between attacker's input and OS command syntax / instruction.
                    <br>
                    In the view of PHP / OS, it will try to first execute the command "<b>ping google.com</b>", next, the semi-colon, which is a really important instruction in OS Command, which tells the object executing the command
                    that: "The command ends here, the part behind the semi-colon would be the new command". And then execute the next command "<b>id</b>"
                    <br><br>
                    By this way, the attacker could execute any arbitrary OS commands on the server, and typically fully compromise the application and all its data.
                    <br>
                    Another example, now this time, if the attacker input into the <b>$user_input</b>: <code style="color:red;">; shutdown</code>
                    <br>
                    The command will now become:
                    <br><br>
                    <code style="display:block;margin-left: auto;margin-right: auto;text-align:center;font-size:larger;">&lt;?php system("ping -c3 <span style="color: red;">; shutdown</span>"); ?&gt;</code>
                    <br>
                    Obviously that the first command before the semi-colon is not executed, because the attacker doesn't add any host, so the <b>ping</b> would not know the place to send ICMP packet.
                    <br>
                    But, as you can see, the so bad attacker injected a <b>shutdown</b> command behind the semi-colon, which will tell the server to shutdown and stop every actions / operations.
                    By this way, this attacker could bring down the whole server of a company / business.

                    <br><br>
                    <img src="../navbar/images/ded.png" style="display:flex;margin-left: auto;margin-right: auto;width: 20%;height: 20%;">
                    <br>
                    <div class="challenge" style="text-align: center;">
                        <br>
                        <h3 style="color:white;"><b>Okay that's enough for the theory, let's experience the hacking techniques</b></h3>
                        <h3 style="text-align:center;"><a class="button button-primary button-wide-mobile" href="http://localhost:8000/" style="border-radius: 25px;">CTFd Platform</a>
                        <br>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<style>
	.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.challenge {
	--x: 50%;
	--y: 50%;
	
	position: relative;
	appearance: none;
	padding: 1em 2em;
	color: white;
	cursor: pointer;
	outline: none;
	border-radius: 100px;
	
	border: 4px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
}

html {
  scroll-behavior: smooth;
}
</style>

<div class="footer-basic" data-aos="fade-in">
	<footer>
		<div class="social"><a href="https://www.instagram.com/khoi.meo.meo/"><i class="icon ion-social-instagram"></i></a><a href="https://www.facebook.com/khoi.vo.104/"><i class="icon ion-social-facebook"></i></a></div>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="../welcome#itsec">Home</a></li>
			<li class="list-inline-item"><a href="../academy">Academy</a></li>
			<li class="list-inline-item"><a href="../welcome#about-me">About</a></li>
		</ul>
		<p class="copyright">MinKhoy © 2022</p>
	</footer>
</div>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  <script src="../navbar/js/jquery.min.js"></script>
  <script src="../navbar/js/popper.js"></script>
  <script src="../navbar/js/bootstrap.min.js"></script>
  <script src="../navbar/js/main.js"></script>
  <!-- AOS - Animated on Scroll JavaScript -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
	AOS.init();
  </script>

	</body>
</html>

