<!doctype html>
<html lang="en">
  <head>
  	<title>ITSec Learning</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

	<!-- AOS - Animated on Scroll CSS -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
	
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet"> <!-- font -->

    <link rel="stylesheet" href="solid/dist/css/style.css"> <!-- static CSS -->

	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>

    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'> <!-- font -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- font -->

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> <!-- font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> <!-- font -->

	<!-- favicon -->
	<link rel="icon" href="navbar/images/hacker.png">

	<link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
	
	<link rel="stylesheet" href="navbar/css/style.css">

	<link rel="stylesheet" href="navbar/css/bootstrap4-neon-glow.css">

	</head>
	<body>
		
		<br>
		<div class="container" id="itsec">
			<div class="row justify-content-center">
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
				<div class="container">
					<a class="navbar-brand" href="/">ITSec Platform</a>
					<div class="social-media order-lg-last">
						<p class="mb-0 d-flex">
							<a href="https://www.facebook.com/khoi.vo.104/" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
							<a href="https://www.instagram.com/khoi.meo.meo/" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
						</p>
				</div>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="fa fa-bars"></span> Menu
				  </button>
				  <div class="collapse navbar-collapse" id="ftco-nav">
					<ul class="navbar-nav ml-auto mr-md-3">
						<li class="nav-item active"><a href="welcome" class="nav-link">Home</a></li>
						<li class="nav-item"><a href="#about-me" class="nav-link">About</a></li>
						<li class="nav-item"><a href="welcome#about-me" class="nav-link">Work</a></li>
						<li class="nav-item"><a href="https://skillful-overcoat-6dd.notion.site/MinKhoy-48e8a156f7294063a5d377ed63531bfd" class="nav-link">Blog</a></li>
					  <li class="nav-item"><a href="welcome#about-me" class="nav-link">Contact</a></li>
					</ul>
				  </div>
				</div>
			  </nav>
    <!-- END nav -->
  </div>

<br><br><br><br><br>
<div class="header">
	<h1 class="display-2" style="text-align:center; color:white;" data-aos="fade-in">ITSec Learning Platfor<span class="vim-caret">m</span></h1>
</div>
<br>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<style>
	.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

html {
  scroll-behavior: smooth;
}
</style>

<br>
<div class="container">
    <div class="row">
        <div class="col-md-12 bootstrap snippets">
            <div class="ht-tm-componentsblock" data-aos="fade-left" style="width:60%;float:left;">
                <h2 style="color:white;"><b>So.. what is Information Security?</b></h2><br>
                <p><b>Information Security </b>is not only about securing information from unauthorized access. <br>
                    Information 
                    Security is basically the practice of preventing unauthorized access, use, disclosure, disruption,
                    modification, inspection, recording or destruction of information. Information can be physical or
                    electronic 
                    one. Information can be anything like Your details or we can say your profile on social media, your
                    data in 
                    mobile phone, your biometrics etc. Thus Information Security spans so many research areas like
                    Cryptography,
                    Mobile Computing, Cyber Forensics, Online Social Media etc.
					<br><br>
					
				<b>For more information: <a href="https://www.cisco.com/c/en/us/products/security/what-is-it-security.html">Cisco Documentation about IT Security</a></b></p><br>
            </div>
			<div style="width:30%;float:right;" data-aos="fade-left"><br><img src="navbar/images/security.png" style="float:right"></div>
        </div>
    </div>
</div>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down" id="start"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 bootstrap snippets">
            <div class="ht-tm-componentsblock" data-aos="fade-right" style="width:70%;float:right;text-align: right;">
                <h2 style="color:white;"><b>Where to Start?</b></h2><br>
                <p> This is a website which focuses mainly on <b>Web Application Security</b>. <br>
                    But don't worry, the information around here is really suitable for you - who want to begin in the Security fields <br>
					Let's just make a baby step and come with me <br>
					Click here to begin your journey in my website
					<br><br>
					
					<a class="button button-primary" href="academy">Let's Start</a>
            </div>
			<div style="width:30%;float:right;" data-aos="fade-right"><br><img src="navbar/images/start.png" style="float:left"></div>
        </div>
    </div>
</div>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down" id="about-me"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 bootstrap snippets">
            <div class="ht-tm-componentsblock" data-aos="fade-down" style="text-align: center;width:70%;margin:auto;">
                <h2 style="color:white;"><b>About me</b></h2><br>
				<p style="text-align: justify;text-justify: inter-word;"> My name is Vo Thanh Minh Khoi - an Web Application at <b>CyberJutsu</b> with the enthusiasm in Cyber Security<br>
                    I am just a normal 4th-year student in Vietnamese - German University (or maybe I have graduated if you can see this website in the future 😁), from academic year 2018. 
					<br><br>
				<img src="navbar/images/minkhoy.jpg" height="300" width="300" style="display:block;margin-left: auto;margin-right: auto;      border:2px solid #fff;
				background: url(img/tiger.png) no-repeat;
				box-shadow: 10px 10px 5px #ccc;
				-moz-box-shadow: 10px 10px 5px #ccc;
				-webkit-box-shadow: 10px 10px 5px #ccc;
				-khtml-box-shadow: 10px 10px 5px #ccc;">
					
				</p><p><b>If you have any question, please contact me via: <br>My Facebook: <a href="https://www.facebook.com/khoi.vo.104/" style="text-align:center;">Khôi Minh Võ ✌</a></b>
				<br><b>My Gmail:</b> khoiminhvo32@gmail.com 💌</p><br><br><br>
            </div>
        </div>
    </div>
</div>

<div class="footer-basic" data-aos="fade-in">
	<footer>
		<div class="social"><a href="https://www.instagram.com/khoi.meo.meo/"><i class="icon ion-social-instagram"></i></a><a href="https://www.facebook.com/khoi.vo.104/"><i class="icon ion-social-facebook"></i></a></div>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="welcome#itsec">Home</a></li>
			<li class="list-inline-item"><a href="academy">Academy</a></li>
			<li class="list-inline-item"><a href="#about-me">About</a></li>
		</ul>
		<p class="copyright">MinKhoy © 2022</p>
	</footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  <script src="navbar/js/jquery.min.js"></script>
  <script src="navbar/js/popper.js"></script>
  <script src="navbar/js/bootstrap.min.js"></script>
  <script src="navbar/js/main.js"></script>
  <!-- AOS - Animated on Scroll JavaScript -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
	AOS.init();
  </script>

	</body>
</html>

