<!doctype html>
<html lang="en">
  <head>
  	<title>ITSec Learning</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

	<!-- AOS - Animated on Scroll CSS -->
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> 
	
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet"> <!-- font -->

    <link rel="stylesheet" href="../solid/dist/css/style.css"> <!-- static CSS -->

	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>

    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'> <!-- font -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- font -->

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"> <!-- font -->

	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> <!-- font -->

    <!-- favicon -->
    <link rel="icon" href="../navbar/images/hacker.png">

	<link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
	
	<link rel="stylesheet" href="../navbar/css/style.css">

	<link rel="stylesheet" href="../navbar/css/bootstrap4-neon-glow.css">

	</head>
	<body>
		
		<br>
		<div class="container" id="itsec">
			<div class="row justify-content-center">
			</div>
		</div>
		<div class="container">
			<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
		    <div class="container">
		    	<a class="navbar-brand" href="/">ITSec Platform</a>
		    	<div class="social-media order-lg-last">
		    		<p class="mb-0 d-flex">
		    			<a href="https://www.facebook.com/khoi.vo.104/" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="fa fa-bars"></span> Menu
		      </button>
		      <div class="collapse navbar-collapse" id="ftco-nav">
		        <ul class="navbar-nav ml-auto mr-md-3">
		        	<li class="nav-item active"><a href="../academy" class="nav-link">Home</a></li>
		        	<li class="nav-item"><a href="#about-me" class="nav-link">About</a></li>
		        	<li class="nav-item"><a href="#" class="nav-link">Work</a></li>
		        	<li class="nav-item"><a href="#" class="nav-link">Blog</a></li>
		          <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
		        </ul>
		      </div>
		    </div>
		  </nav>
    <!-- END nav -->
  </div>

<br><br><br><br><br>
<div class="header">
	<h1 class="display-2" style="text-align:center; color:white;" data-aos="fade-in">Cross - site Scriptin<span class="vim-caret">g</span></h1><br>
    <p style="text-align:center; color:white;" data-aos="fade-in">A basic and common client - site security vulnerabilities</p>
</div>
<br>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 bootstrap snippets">
            <div class="ht-tm-componentsblock">
                <h2 style="color:white;"><b>Requirement</b></h2><br>
                <p> In order to get the best experience in learning this vulnerability, you should have basic knowledge in <b>HTML</b>.
					You can start learning this vulnerability by answering this question: Is <b>HTML</b> a <b>Programming Language</b>?<br>

					<br>
                    <img src="../navbar/images/html.png" style="display:block;margin-left: auto;margin-right: auto;width:45%;height:45%">
                    <br>
					
                If you have learned this vulnerability before, why not going to solve my <a href="http://localhost:8000/">challenges here</a>?
                </p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 bootstrap snippets">
            <div class="ht-tm-componentsblock">
                <h2 style="color:white;"><b>First of all.. What exactly Cross - Site Scripting is?</b></h2><br>
                <p> The first time you speak out the name of this vulnerability, I guess you would think that "Wow the name is so cool, so dangerous, can it rule the world?". 
                    <br>
                    But ermm.. <b style="font-size:xxx-large ;">No!!</b> 😵😵😵😵😵😵	
					<img src="../navbar/images/no.png" style="display:block;margin-left: auto;margin-right: auto;width:15%;height:15%">
                    <br>
					This is just a very basic vulnerability - easy to learn, easy to find out, easy to exploit, easy to conduct the report.
					With just some basic background in HTML, you will see that it's not hard to learn.
					<br><br>
					And.. The fact that Cross - Site Scripting (XSS) is just a really complicated technical name, for me, I would call it <b>HTML Injection</b>
				</p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 bootstrap snippets">
            <div class="ht-tm-componentsblock">
                <h2 style="color:white;"><b>After all the way.. Injection again?</b></h2><br>
                <p> I have told you so much about Injection (Ex: Covid-19 pandemic.. For more information, please go back to <a href=/academy/sql-injection>SQL Injection</a> and <a href=/academy/command-injection>Command Injection</a>)
					, so in this case, the object we want to inject something is HTML.

					<br><br><br>
					<img src="../navbar/images/injection.png" style="display:block;margin-left: auto;margin-right: auto;width: 20%;height: 20%;">
					<br><br>
					A successful XSS (HTML Injection) attack can cause the web interface to be changed by the hacker, or execute mallicious JavaScript in the client browser 
					which can leads to many phising or Account - Take - Over consequences (I will go more detail below).
                </p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 bootstrap snippets">
            <div class="ht-tm-componentsblock">
                <h2 style="color:white;"><b>Let's make an example</b></h2><br>
                <p> Consider that a website let users input their name, and then this website will print out the name on the screen. This is a basic PHP code of how to do this:
					<ul style="list-type-style:circle;">
                        <li>Let users input their name using GET Parameter:</li>
					</ul>
					<code style="display:block;margin-left: auto;margin-right: auto;text-align:center;font-size:larger;">$username = $_GET['user_input'];</code>
					<br>
					<ul style="list-type-style:circle;">
                        <li>Print out the username:</li>
					</ul>
					<code style="display:block;margin-left: auto;margin-right: auto;text-align:center;font-size:larger;">echo $username;</code>
					<br>
					By this way of coding, with normal user, they will just only input the username they want - for example, in my case - MinKhoy
					<br>
					Now, the website will just printout the <b>'MinKhoy'</b> word.
					<br><br>
					So.. How about a hacker, what if they input something like HTML tags?
					<br>
					If the hacker inputs the tag <b>&lt;h1&gt;</b>, what will happen?
					<br>
					Let's take a look at the code again:
					<br><br>
					<code style="display:block;margin-left: auto;margin-right: auto;text-align:center;font-size:larger;">echo '<span style="color: red;">&lt;h1&gt;Make the words bigger&lt;/h1&gt;</span>';</code>
					<br>
					As you can easily see, the PHP will just do its jobs - printout the whole things in the <b>$username</b> variable.
					<br><br>
					At this time, the web server will handle and render the content, which contains the &lt;h1&gt; tag, to print out and sendback to users, which will make the sequence <b>"Make the words bigger"</b> become truthly bigger - 
					which is a really important signal of a exploitable <b>HTML Injection</b>.
					<br><br>
					The attacker can now input something more evil, such as tag <b>&lt;script&gt;</b> in order to execute JavaScript <b style="font-size:x-large ;">ON USER'S BROWSER</b> (That's why this is a Client - Side Vulnerability), which allow the attacker to get user's cookies and everthing which is stored in the browsers.
					<br><br>
					As you know, the cookies are used for identification on the Internet, so if the attacker has your cookies, they can actually becomes you on the Internet (There are so much more consequences of this security flaws, but this one is the most common
					, beside there are something like Redirect, Phising...).
					<br><br><br>
                    <img src="../navbar/images/ded.png" style="display:flex;margin-left: auto;margin-right: auto;width: 20%;height: 20%;">
                    <br>
                    <div class="challenge" style="text-align: center;">
                        <br>
                        <h3 style="color:white;"><b>Okay that's enough for the theory, let's experience the hacking techniques</b></h3>
                        <h3 style="text-align:center;"><a class="button button-primary button-wide-mobile" href="http://localhost:8000/" style="border-radius: 25px;">CTFd Platform</a>
                        <br>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="wrapper">
	<div class="divider div-transparent div-arrow-down"></div>
</div>

<style>
	.wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.challenge {
	--x: 50%;
	--y: 50%;
	
	position: relative;
	appearance: none;
	padding: 1em 2em;
	color: white;
	cursor: pointer;
	outline: none;
	border-radius: 100px;
	
	border: 4px solid transparent;
	background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
}

html {
  scroll-behavior: smooth;
}
</style>

<div class="footer-basic" data-aos="fade-in">
	<footer>
		<div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/khoi.vo.104/"><i class="icon ion-social-facebook"></i></a></div>
		<ul class="list-inline">
			<li class="list-inline-item"><a href="#itsec">Home</a></li>
			<li class="list-inline-item"><a href="academy">Academy</a></li>
			<li class="list-inline-item"><a href="#about-me">About</a></li>
			<li class="list-inline-item"><a href="#">Terms</a></li>
			<li class="list-inline-item"><a href="#">Privacy Policy</a></li>
		</ul>
		<p class="copyright">MinKhoy © 2022</p>
	</footer>
</div>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

  <script src="../navbar/js/jquery.min.js"></script>
  <script src="../navbar/js/popper.js"></script>
  <script src="../navbar/js/bootstrap.min.js"></script>
  <script src="../navbar/js/main.js"></script>
  <!-- AOS - Animated on Scroll JavaScript -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
	AOS.init();
  </script>

	</body>
</html>

