<!DOCTYPE html>
<html>

<head>
    <title>Nosqli Level 3</title>
</head>

<body>

    <h1>Login</h1>
    <form action="/login" method="POST">

        <input type="text" name="username" placeholder="username" id="username">
        <br><br>
        <input type="password" name="password" placeholder="password" id="password">
        <br><br>
        <button>login</button>

    </form>

</body>

</html>